

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2em 3em;
  font-weight: 500;
}

.header{
  padding: 2em 3em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  width: 456px;
}

.title {
  color: black;
  margin-bottom: 0;
}

.buttons{
  margin: 2em 0;
}

.icons {
  margin-top: 4em;
}

.description{
  width: 380px;
  color: #676767;
  font-family: Metropolis;
  margin: 1em 0;
  font-size: 16px;
  line-height: 22px;
}

.heading1{
  margin-top: 5em;
}

.body1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.card-title{
  font-weight: 900;
}
.heading1-h1{
  font-size: 36px;
  margin: 0;
  text-align: center;
}

.heading1-h5{
  font-size: 16px;
  color: #9999;
  margin: 1em auto;
  text-align: center;
  width: 700px;
}
.logo {
  width: 7em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

.navMenu{
  list-style: none;

}

.navMenu > li {
  display: inline-block;
  margin-left: 3em;
}

.end {
  margin-left: 3em;
}

.iservice {
  background: #ED017F;
  color: white;
}

.iservice1 {
  background: transparent;
  color: #ED017F;
  border: 1px solid #ED017F;
  margin-left: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
